<%= form_for(@site) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :akismet_key %><br />
    <%= f.text_field :akismet_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
